<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Acerca del Curso</h1>
    <p><strong>Curso:</strong> {{curso}}</p>
    <p><strong>Profesor:</strong> {{profesor}}</p>
    <p><strong>Fecha:</strong> {{fecha}}</p>
</body>
</html>